@font-face {
    font-family: 'Geist Sans';
    src: url('/fonts/geist-sans/Geist-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/geist-mono/GeistMono-Variable.woff2') format('woff2');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Pixel';
    src: url('/fonts/geist-pixel/GeistPixel-Square.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}